h1 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
  font-size: 100px;
  font-family: Helvetica;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.price {
  color: blue;
  font-weight: bold;

}

#brush{
  background-color: mediumspringgreen;
}


#paint{
  background-color: skyblue;
}

#frame{
  background-color: lightcoral;
}
